.menu {
  width: 300px;
  height: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 15;
  .info-box {
      padding: 0 20px;
      display: flex;
      gap: 10px;
  }

  .info-user {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;

      nav {
          cursor: pointer;
          margin-top: 5px;
          display: flex;
          align-items: flex-start;
          gap: 5px;
          font-size: 11px;
          font-style: italic;
          opacity: 0.6;

          &:hover {
              opacity: 1;
          }
      }
  }

  nav {
      margin-top: 50px;
      ul li a {
          opacity: 0.5;
          color: #333;
          padding: 15px 20px;
          display: flex;
          gap: 25px;
          font-size: 15px;
          font-weight: 600;
          text-transform: uppercase;
          align-items: center;
          &:hover {
              border-right: 4px solid var(--color-2);
              font-weight: 800;
              color: var(--color-2);
              opacity: 1;
          }
      }

      ul li a .icon {
          font-size: 30px;
      }
  }
}

.active {
    border-right: 4px solid var(--color-2);
    font-weight: 800 !important;
    color: var(--color-2) !important;
    opacity: 1 !important;
}