@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

:root {
    --max-width: 1200px;
    background-color: #f4f4f4;
    --box-shadow: rgb(204, 204, 204) 0px 4px 6px;
    --color-1: #008dda;
    --color-2: #e7a13f;
    --color-3: rgb(243, 255, 189);
    --color-4: #046ba2;
    --color-5: rgb(92, 172, 251);
    --color-6: #1679ab;
    --color-7: rgb(0, 153, 157);
    --color-8: #fff;
    --color-9: #bbbbbb;
    --color-10: rgb(174, 206, 239);
    --color-11: #1fc1a8;
    --color-12: rgb(243, 37, 37);
    --color-13: #333;
    --color-14: rgb(216, 216, 216);
    --color-15: #d4af7a;
    --border-radius: 7px;
    --background-color: linear-gradient(360deg, var(--color-4) 0%, var(--color-1) 70%);
    --background-color-1: linear-gradient(360deg, var(--color-5) 10%, var(--color-10) 70%);
    --background-color-hover: linear-gradient(360deg, var(--color-4) 40%, var(--color-1) 100%);
}

a {
    text-decoration: none;
    color: var(--color-9);
}

li {
    list-style-type: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.slick-prev:before,
.slick-next:before {
    font-size: 30px;
    color: rgb(105, 104, 104);
}

.Toastify__toast {
    top: 100px;
}

// .slick-slide {
//     margin: 0 20px;
// }
// .slick-list {
// }

// hover-to-yellow => các thẻ <a/> khi hover vào chuyển thành vàng
.hover-to-yellow {
    color: var(--color-8);
}

.hover-to-yellow:hover {
    cursor: pointer;
    color: var(--color-2);
}
