@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

:root {
    --max-width: 1200px;
    background-color: #f4f4f4;
    --box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    --color-1: #0472cc;
    --color-2: #ffb957;
    --color-3: rgb(243, 255, 189);
    --color-4: #22a8fb;
    --color-5: rgb(92, 172, 251);
    --color-6: #1679ab;
    --color-7: linear-gradient(to top, rgb(26, 95, 165) 0%, #4cb4e7 100%);
    --color-8: #fff;
    --color-9: #e6e6e6;
    --color-10: #ff9500;
    --color-12: rgb(243, 37, 37);
    --color-13: #293448;
    --border-radius: 7px;
    --background-color: linear-gradient(to bottom, var(--color-4) 0%, var(--color-1) 100%);
    --background-color-1: linear-gradient(to bottom, var(--color-1) 0%, var(--color-4) 100%);
    --background-color-2: linear-gradient(to bottom, var(--color-2) 0%, var(--color-10) 100%);
    --background-color-3: linear-gradient(to bottom, var(--color-10) 0%, var(--color-2) 100%);
}

a {
    text-decoration: none;
    color: var(--color-9);
}

li {
    list-style-type: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.slick-prev:before,
.slick-next:before {
    font-size: 30px;
    color: rgb(105, 104, 104);
}

.Toastify__toast {
    top: 100px;
}

// .slick-slide {
//     margin: 0 20px;
// }
// .slick-list {
// }

// hover-to-yellow => các thẻ <a/> khi hover vào chuyển thành vàng
.hover-to-yellow {
    color: var(--color-8);
}

.hover-to-yellow:hover {
    cursor: pointer;
    color: var(--color-2);
}
