.container {
    height: calc(100vh - 38.4px);
    display: flex;
    margin: 30px 0 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: relative;
}

.null {
    width: 300px;
}

.content {
    flex: 1;
}

.active {
    border-right: 4px solid var(--color-2);
    font-weight: 800 !important;
    color: var(--color-2) !important;
    opacity: 1 !important;
}
