.container {
    width: var(--max-width);
    margin: 10px auto;
    position: relative;
}

.container img {
    min-width: var(--max-width);
    height: 400px;
    border-radius: 5px;
}

.container-sale {
    width: var(--max-width);
    margin: 10px auto 30px;
    border-radius: 5px;
}

.container-product-sale {
}

.container-product-sale img {
    border-radius: 5px;
}

.container-product-sale a {
    height: 275px;
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    border-radius: 10px;
    // box-shadow: 0px 1px 50px #00000029;
    background-color: rgb(244, 112, 64);
}
