.container {
    width: var(--max-width);
    margin: 10px auto;
    position: relative;
}

.container img {
    min-width: var(--max-width);
    border-radius: 5px;
}

.container-sale,
.container-brand {
    margin: 10px auto 30px;
    border-radius: var(--border-radius);
    background: var(--color-2);
    padding: 10px;
}

.flash-sale {
    display: flex;
    font-size: 45px;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
}

.text :nth-child(1) {
    margin-left: 10px;
    background: var(--color-7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-product-sale a {
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
}

.container-brand {
    margin: 10px auto 30px;
    border-radius: var(--border-radius);
    background-color: #fff;
    padding: 10px;
}
