.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Mỗi hàng chứa đúng 5 cột */
    gap: 10px; /* Khoảng cách giữa các phần tử */
    width: var(--max-width);
    margin: 10px auto 30px;
    background: var(--background-color);
    padding: 10px;
    border-radius: var(--border-radius);
}

// .container > a {
    // flex: 0 0 19.3%;
// }
