.container {
    display: flex;
    gap: 15px;
    width: 98%;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    margin: 0 auto;

    > svg {
        color: whitesmoke;
        font-size: 25px;
        transition: color 0.15s ease-in;

        &:hover {
            cursor: pointer;
            color: var(--color-4);
        }
    }

    > .numberPage {
        color: whitesmoke;
        width: 25px;
        padding: 5px;
        font-weight: 700;
        border-radius: 7px;
        text-align: center;
        transition: background-color 0.15s ease-in;
        &:hover {
            cursor: pointer;
            background-color: var(--color-4);
        }
    }
}
