.container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    border-radius: var(--border-radius);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 4px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: transform 0.3s ease;
    &:hover {
        cursor: pointer;
        transform: translateY(-2px);
    }
    .content {
        font-size: 15px;
        padding: 0px 0px 20px 0px;
    }
    .info-rating {
        display: flex;
        justify-content: space-between;

        .user {
            display: flex;
            align-items: center;
            gap: 15px;
            > img {
                width: 30px;
                object-fit: cover;
                aspect-ratio: 1;
                border-radius: 50%;
            }
            > strong {
                text-transform: capitalize;
            }
            > span {
                font-style: italic;
                color: var(--color-13);
            }
        }
        .star {
            display: flex;
            gap: 7px;
            font-size: 15px;
            color: orange;
        }
    }
}
