.container {
    width: 350px;
    margin: 0 auto;
}

.slider {
    width: 350px;

    img {
        width: 350px;
    }
}

.sub-slider {
    margin: 0 auto;
    width: 290px;

    img {
        width: 90px;
        aspect-ratio: 1 / 1;
    }

    ::before{
        position: absolute;
        top: 0;
        right: -5px;
    }
}
