.box-product {
    display: flex;
    flex-direction: column;
    height: fit-content;
    transition: transform 0.2s ease;
    border-radius: 10px;
    box-shadow: 0px 1px 6px var(--color-10);
    border: 2px solid var(--color-10);
    position: relative;
    position: relative;

    .heart {
        position: absolute;
        z-index: 10000;
        right: 10px;
        top: 5px;
        color: var(--color-1);
        font-size: 19px;
    }
}

.box-product img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 3 / 3.5;
}



.box-product:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.sub-container > strong {
    font-size: 14px;
    color: black;

    &:hover {
        color: var(--color-7);
    }
}

.sub-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: var(--color-10);
}

.name-price :nth-child(1) {
    color: red;
    font-size: 14;
    font-weight: bold;
}

.name-price :nth-child(2) {
    text-decoration: line-through;
    font-size: 11px;
    color: black;
}

.sold-rate {
    display: flex;
    gap: 10px;
    font-size: 11px;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.sold-rate :nth-child(2) {
    display: flex;
    align-items: flex-start;
    gap: 3px;
}

.compare-btn {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-1);
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    color: var(--color-8);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
