.container {
    padding-bottom: 20px;
}

.info-user {
    width: 1000px;
    border-radius: var(--border-radius);
    margin: 0px auto;
    box-shadow: var(--box-shadow);
    overflow: hidden;

    .title {
        background-color: var(--color-4);
        display: flex;
        align-items: center;
        color: var(--color-8);
        .title-icon {
            padding: 10px 12px 5px 15px;
            font-size: 30px;
        }

        > p {
            font-size: 20px;
            font-weight: 700;
        }
    }

    .content {
        padding: 15px;
        background-color: var(--color-8);
        p {
            color: var(--color-2);
            font-style: italic;
            font-weight: 600;
            margin: 20px auto 0px;
            font-size: 11px;
            width: 800px;
        }
        .info-field {
            display: flex;
            align-items: center;
            width: 800px;
            margin: 20px auto 0px;

            > strong {
                color: rgb(121, 121, 121);
                min-width: 200px;
                font-size: 13px;
                font-weight: 800;
            }

            > div {
                flex: 1;
                display: block;
                margin: 0px !important;
                > input {
                    border: none;
                    width: 100%;
                    padding-bottom: 5px;
                    font-size: 13px;
                    border-bottom: 1px solid var(--color-1);
                }
                > input[type='date'] {
                    border-radius: 0 !important;
                    padding-left: 0px !important;
                    color: #333;
                }
            }
        }

        .box-button {
            background: linear-gradient(to bottom, var(--color-4) 0%, rgb(96, 160, 221) 100%);
            padding: 10px;
            border-radius: var(--border-radius);
            border: none;
            display: flex;
            align-items: center;
            margin: 20px auto;
            width: 300px;
            justify-content: center;
            opacity: 0.8;
            cursor: pointer;
            text-transform: capitalize;
            font-weight: 600;
            color: #fff;

            &:hover {
                opacity: 1;
            }
        }
    }
}
